accelerate==0.20.3
astor==0.8.1
certifi==2023.5.7
charset-normalizer==3.1.0
cmake==3.26.3
fairscale==0.4.13
filelock==3.12.0
fire==0.5.0
fsspec==2023.6.0
huggingface-hub==0.15.1
-e git+https://github.com/openai/human-eval.git@312c5e5532f0e0470bf47f77a6243e02a61da530#egg=human_eval
idna==3.4
Jinja2==3.1.2
lit==16.0.5.post0
-e git+https://github.com/facebookresearch/llama.git@57b0eb62de0636e75af471e49e2f1862d908d9d8#egg=llama
MarkupSafe==2.1.3
mpmath==1.3.0
networkx==3.1
numpy==1.24.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
packaging==23.1
Pillow==9.5.0
protobuf==3.20.0
psutil==5.9.5
PyYAML==6.0
regex==2023.6.3
requests==2.31.0
safetensors==0.3.1
sentencepiece==0.1.99
six==1.16.0
sympy==1.12
termcolor==2.3.0
tokenizers==0.13.3
torch==2.0.1
torchvision==0.15.2
tqdm==4.65.0
transformers==4.30.1
triton==2.0.0
typing_extensions==4.6.3
urllib3==2.0.3
